.App {
  text-align: center;
}

.Header{
  margin: 40px;
  padding: 0;
}

.Header-top {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.Header-top .Header-left {
  width: 200px;
}

.Header-top .Header-right {
  width: 150px;
} 

.Header-right {
 display: flex;
 justify-content: space-around;
}

.Header-right i {
  font-size: 25px;
}

 .uil-youtube {
  color: red;
}

i:nth-child(n+2) {
  color: blue;
} 

nav {
  /* max-height: 0; */
  /* overflow: hidden; */
  transition: all .15s ease;
  width: 100%;
  background: #ede5e5;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 8px 0 0 0;
  padding: 10px;
}

li {
  padding: 10px;
  color: grey;
    font-weight: bold;
}

li:hover {
  font-weight: bold;
  color: blue;
  border-bottom: 2px solid blue;
}

/* banner styling*/
.Slider {
  margin: 40px;
  /* height: 40vw; */
  /* background: url('./images/banner.png'); */
  /* background-size: cover; */
  position: relative;
  
}
 .Slider-title {
  /* width: 200px; */
  text-align: start;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50px;
  left: 70px;
 }
 .Slider-subtitle {
  width: 150px;
  color: white;
  position: absolute;
  /* bottom: 40px; */
  top:50%;
  left: 70px;
 }

#swipe-btn {
  padding: 10px;
  width: 140px;
  border-radius: 30px;
  position: absolute;
  bottom: 20%;
  left: 80px;
  border: none;
}

.Slider .btn {
  position: absolute;
  left: 80px;
  /* top: 110%; */
  bottom: 40px;
}

input:nth-child(n){
  width: 10px;
}

.Cryptocurrency {
  margin: 40px;
}

table {
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 10px;
  height: 40vw;
}

#Trade-btn {
  width: 60%;
  border: none;
  padding: 10px;
  border-radius: 20px;
}

tbody > tr {
  height:70px
}

#view-btn {
  position: relative;
  left: 70%;
  border: none;
  border-radius: 20px;
  padding: 10px;
  font-weight:bold ;
}

/* legal update page  */

.LegalUpdate-top {
  background: lightgreen;
  padding: 5px;
  text-align: left;
}

.LegalUpdate-top > h2 {
  width: 200px;
    position: relative;
    left: 50px;
    /* right: 100px; */
    /* margin: 50px; */
    color: white;
}

.LegalUpdate-bottom .bottom-left {
  text-align: left;
  width: 70%;
}

.bottom-left > h4 {
  position: relative;
  left: 20px;
  width: 350px;
}

.bottom-left  p {
  position: relative;
    width: 300px;
    left: 20px;
}

#LegalUpdate-btn {
  position: relative;
  left: 20px;
  border: none;
  border-radius: 20px;
  padding: 10px 30px;
}

.LegalUpdate-bottom .bottom-right {
  position: relative;
    top: -70px;
    right: 40px;
}


/* Videos  page*/
.Video-row {
  display: flex;
  justify-content: space-evenly;
}

.Video-col {
  position: relative;
  text-align: left;
}

/* .Video-col:nth-child(n) {
  position: relative;
} */

.Video-col button {
  position: absolute;
  left: 40%;
  top: 40%;
}

.col-2 .play-btn {
  position: relative;
  bottom: 10vw;
  left: -20px;
}

.Video-col-top , .video-col-bottom {
  position: relative;
}

img ~ button {
  border: none;
 padding: 10px;
  border-radius: 50px;
}

.Video-col > p {
  position: absolute;
  /* top: 55%; */
  bottom: 10%;
  left: 20px;
  color: white;
  font-weight: bold;
  width: 280px;
}

.Video-col-top > p {
  position: absolute;
  color: white;
  bottom: 10%;
  left: 30px;
  font-weight: bold;
 } 

.video-col-bottom > p {
  position: absolute;
  left: 30px;
  color: white;
  bottom: 10%;
  font-weight: bold;
}
